<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>Chaturbate</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.chaturbate</string>
      <key>URLPatterns</key>
      <array>
        <string>^https?://(?:[^/]+\.)?chaturbate\.com/(?:.+)/$</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>https://www.chaturbate.com/siswet19/</string>
        <string>https://en.chaturbate.com/siswet19/</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
